body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
  height: 100vh;
  width: auto;
  /*height: 100%;
  padding: 0;*/
  background: #ADD8E6;
}
.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}
a {
  color: #333;
  text-decoration: none;
}
/*
.container {
  padding: 0 1rem;
}
*/
.AuthContainer {
  margin:50px;
  padding: 10px;
  background: #C6E4EE;
  width: 450px;
}
.NavItem {
  color: #152238;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  font-size: 25px;
}
.NavItemContainer {
  display: inline;
  letter-spacing: -2px;
}
.NavItem:hover {
  cursor:pointer;
}
.btn {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  margin-bottom: 0;
  margin:5px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #152238;
  color: #C6E4EE;
  padding: 6px 12px;
  font-size: 15px;
  border-radius: 3px;
  border: 1px solid transparent;
  text-decoration: none;
  user-select: none;
}

.btn:hover {
  cursor:pointer;
}


.gridContainer {
  align-items: center;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
  margin: 10px;
  padding: 10px;
  /*min-height: 100%;*/
  /*min-width: 100%;*/
  /*height: 100vh;*/
}
